<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
		.modal {
			display: none;
			position: fixed;
			z-index: 1000;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
		}

		/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
		body.loading {
			overflow: hidden;
		}

		/* Anytime the body has the loading class, our
   modal element will be visible */
		body.loading .modal {
			display: block;
		}
	</style>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script async src="https://docs.opencv.org/4.x/opencv.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.6.0.min.js"></script>


	<title>OpenCV Tutorials using JavaScript</title>
</head>

<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1> OpenCV - Load an image</h1>
			<p> This is an example for loading an image</p>
		</div>

		<div class="row text-center p-2">
			<p id="status">OpenCV.js is loading...</p>
			<input type="file" id="fileInput" name="file" class="form-control" />
		</div>

		<div class="row p-2">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header">
						Original Image
					</div>
					<div class="card-block text-center">
						<img id="imageSrc" src="{{ user_image }}" alt="No Image" class="img-thumbnail" />
					</div>
					<div class="card-footer text-muted">
						<button id="loadImg">Load Image</button>
					</div>
				</div>
			</div>

			<div class="col-sm">
				<div class="row p-1">
					<div class="col-sm">
						<div class="card">
							<div class="card-header">
								Grayscale Image
							</div>
							<div class="card-block text-center">
								<canvas id="imgOut1"></canvas>
							</div>
							<div class="card-footer">
								<input type="range" id="contrast" value="1.0" min="0" max="5" step="0.1" />
								<p>Contrast: <span id="contrastValue">1.0</span></p>
								<input type="range" id="brightness" value="0" min="0" max="100" step="1" />
								<p>Brightness: <span id="brightnessValue">0</span></p>
							</div>
						</div>
					</div>
					<div class="col-sm">
						<div class="card">
							<div class="card-header">
								Histogram
							</div>
							<div class="card-block text-center" id="imgHist1ID">
								<!-- <canvas id="imgHist1"></canvas> -->
							</div>
							<div class="card-footer">

							</div>
						</div>

					</div>
					<div class="row p-1">
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Image Mask
								</div>
								<div class="card-block text-center">
									<canvas id="imgOut2Mask"></canvas>
								</div>
								<div class="card-footer">
									<input type="range" , id="kernelSize" value="101" min="0" , max="201" , step="1">
									<p>Kernel Size: <span id="kernelSizeValue">101</span></p>
									<input type="range" , id="radius" value="50" min="0" , max="100" , step="1">
									<p>radius: <span id="radiusValue">50</span></p>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Grayscale Image
								</div>
								<div class="card-block text-center">
									<canvas id="imgOut2"></canvas>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Histogram
								</div>
								<div class="card-block" id="imgHist2ID">
									<!-- <canvas id="imgHist2"></canvas> -->
								</div>
								<div class="card-footer">
								</div>
							</div>
						</div>
					</div>
					<div class="row p-1">
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Grayscale Image
								</div>
								<div class="card-block text-center">
									<canvas id="imgOut3"></canvas>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Histogram
								</div>
								<div class="card-block" id="imgHist3ID">
									<!-- <canvas id="imgHist3"></canvas> -->
								</div>
								<div class="card-footer">
								</div>
							</div>
						</div>
					</div>
					<div class="row p-1">
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Grayscale Image
								</div>
								<div class="card-block text-center">
									<canvas id="imgOut4"></canvas>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card">
								<div class="card-header">
									Histogram
								</div>
								<div class="card-block" id="imgHist4ID">
									<!-- <canvas id="imgHist4"></canvas> -->
								</div>
								<div class="card-footer">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		document.body.classList.add("loading");

		let imgElement = document.getElementById('imageSrc');
		let inputElement = document.getElementById('fileInput');
		const button = document.getElementById('loadImg');
		const contrast = document.getElementById('contrast');
		const imgBrightness = document.getElementById('brightness');
		const kernelSize = document.getElementById('kernelSize');
		const circleRadius = document.getElementById('radius');
		const radiusValue = document.getElementById('radiusValue');
		const kernelSizeValue = document.getElementById('kernelSizeValue');
		const contrastValue = document.getElementById('contrastValue');
		const brightnessValue = document.getElementById('brightnessValue');

		let alpha = parseFloat(contrast.value);
		let beta = parseFloat(imgBrightness.value);
		let ksizeVal = parseFloat(kernelSize.value);
		let circleRadiusVal = parseInt(circleRadius.value);

		contrast.addEventListener('input', (event) => {
			contrastValue.textContent = event.target.value;
			alpha = event.target.value
			performImgProc();
		});

		imgBrightness.addEventListener('input', (event) => {
			brightnessValue.textContent = event.target.value;
			beta = event.target.value
			performImgProc();
		});

		kernelSize.addEventListener('input', (event) => {
			ksizeVal = parseInt(event.target.value)

			if (ksizeVal === 0 || !(ksizeVal % 2)) { // === equal value and equal type https://www.w3schools.com/js/js_operators.asp
				ksizeVal += 1
			}

			kernelSizeValue.textContent = ksizeVal;
			performImgProc();
		});

		circleRadius.addEventListener('input', (event) => {
			radiusValue.textContent = event.target.value;
			circleRadiusVal = parseInt(event.target.value)
			performImgProc();
		});

		inputElement.addEventListener('change', (e) => {
			imgElement.src = URL.createObjectURL(e.target.files[0]);
			imgElement.setAttribute('crossOrigin', '')
		}, false);

		button.addEventListener("click", function () {
			performImgProc();

		});

		imgElement.onload = async function () {
			await onOpenCvReady();
			performImgProc();
		}

		function linspace(start, stop, num, endpoint = true) {
			const step = (stop - start) / (endpoint ? num - 1 : num);
			const result = [];

			for (let i = 0; i < num; i++) {
				result.push(start + step * i);
			}

			return result;
		}

		let x_data = linspace(0, 255, 256);

		// create a data source to hold data
		const hist1Source = new Bokeh.ColumnDataSource({
			data: { x: x_data, y: x_data }
		});

		// make a plot with some tools
		const hist1Plot = Bokeh.Plotting.figure({
			title: 'Histogram 1',
			tools: "pan,wheel_zoom,box_zoom,reset,save",
			height: 300,
			width: 300
		});


		hist1Plot.vbar({
			x: { field: "x" },
			top: { field: "y" },
			width: 0.8,
			fill_color: "blue", source: hist1Source
		});

		Bokeh.Plotting.show(hist1Plot, '#imgHist1ID');

		// create a data source to hold data
		const hist2Source = new Bokeh.ColumnDataSource({
			data: { x: x_data, y: x_data }
		});

		// make a plot with some tools
		const hist2Plot = Bokeh.Plotting.figure({
			title: 'Histogram 2',
			tools: "pan,wheel_zoom,box_zoom,reset,save",
			height: 300,
			width: 300
		});


		hist2Plot.vbar({
			x: { field: "x" },
			top: { field: "y" },
			width: 0.8,
			fill_color: "blue", source: hist2Source
		});

		Bokeh.Plotting.show(hist2Plot, '#imgHist2ID');

		// create a data source to hold data
		const hist3Source = new Bokeh.ColumnDataSource({
			data: { x: x_data, y: x_data }
		});

		// make a plot with some tools
		const hist3Plot = Bokeh.Plotting.figure({
			title: 'Histogram 3',
			tools: "pan,wheel_zoom,box_zoom,reset,save",
			height: 300,
			width: 300
		});


		hist3Plot.vbar({
			x: { field: "x" },
			top: { field: "y" },
			width: 0.8,
			fill_color: "blue", source: hist3Source
		});

		Bokeh.Plotting.show(hist3Plot, '#imgHist3ID');

		// create a data source to hold data
		const hist4Source = new Bokeh.ColumnDataSource({
			data: { x: x_data, y: x_data }
		});

		// make a plot with some tools
		const hist4Plot = Bokeh.Plotting.figure({
			title: 'Histogram 4',
			tools: "pan,wheel_zoom,box_zoom,reset,save",
			height: 300,
			width: 300
		});


		hist4Plot.vbar({
			x: { field: "x" },
			top: { field: "y" },
			width: 0.8,
			fill_color: "blue", source: hist4Source
		});

		Bokeh.Plotting.show(hist4Plot, '#imgHist4ID');

		function contrastStretch(src) {
			let dst = new cv.Mat();
			let minVal = 0;
			let maxVal = 255;
			let minLoc, maxLoc;

			// Find min and max pixel values
			result = cv.minMaxLoc(src);

			minVal = result.minVal;
			maxVal = result.maxVal;

			// Apply contrast stretching formula
			cv.convertScaleAbs(src, dst, 255 / (maxVal - minVal), -minVal * 255 / (maxVal - minVal));

			return dst;
		}

		function simpleHist(inImg, id, dataSource) {
			let srcVec = new cv.MatVector();
			srcVec.push_back(inImg);
			let accumulate = false;
			let channels = [0];
			let histSize = [256];
			let ranges = [0, 255];
			let hist = new cv.Mat();
			let mask = new cv.Mat();
			let color = new cv.Scalar(255, 255, 255);
			let scale = 2;

			// You can try more different parameters
			cv.calcHist(srcVec, channels, mask, hist, histSize, ranges, accumulate);
			let result = cv.minMaxLoc(hist, mask);
			let max = result.maxVal;

			const bar_data = [];
			const x_data = [];
			const y_data = [];

			// draw histogram
			for (let i = 0; i < histSize[0]; i++) {
				let binVal = hist.data32F[i] * inImg.rows / max;
				const t_data = [i, binVal];
				bar_data.push(t_data);
				x_data.push(i);
				y_data.push(binVal);
			}
			dataSource.data.x = x_data
			dataSource.data.y = y_data

			dataSource.change.emit();

			mask.delete();
			srcVec.delete();
			hist.delete();
		}

		function calcHist(inImg) {
			let srcVec = new cv.MatVector();
			srcVec.push_back(inImg);
			let accumulate = false;
			let channels = [0];
			let histSize = [256];
			let ranges = [0, 255];
			let hist = new cv.Mat();
			let mask = new cv.Mat();
			let color = new cv.Scalar(255, 255, 255);
			let scale = 2;

			// You can try more different parameters
			cv.calcHist(srcVec, channels, mask, hist, histSize, ranges, accumulate);
			let result = cv.minMaxLoc(hist, mask);
			let max = result.maxVal;
			let dst = new cv.Mat.zeros(inImg.rows, histSize[0] * scale,
				cv.CV_8UC3);

			// draw histogram
			for (let i = 0; i < histSize[0]; i++) {
				let binVal = hist.data32F[i] * inImg.rows / max;
				let point1 = new cv.Point(i * scale, inImg.rows - 1);
				let point2 = new cv.Point((i + 1) * scale - 1, inImg.rows - binVal);
				cv.rectangle(dst, point1, point2, color, cv.FILLED);
			}

			srcVec.delete(); mask.delete(); hist.delete();
			return dst;
		}

		function performImgProc() {

			let mat = cv.imread(imgElement);
			let gray_img = new cv.Mat();
			let dst2 = new cv.Mat();
			let imgContrastStretch = new cv.Mat();
			let imgEqualHist = new cv.Mat();
			let imgBloom = new cv.Mat();
			let blurImg = new cv.Mat();

			cv.cvtColor(mat, gray_img, cv.COLOR_RGBA2GRAY, 0);

			//set alpha and bias to control contrast and brightness
			cv.addWeighted(gray_img, parseFloat(alpha), gray_img, 0, parseFloat(beta), dst2);

			// create low contrast image
			// cv.addWeighted(gray_img, 0.1, gray_img, 0, 0, dst2);
			let dstHist1 = calcHist(dst2);

			// apply contrast stretch
			imgContrastStretch = contrastStretch(dst2);

			let imgContrastStretchHist = calcHist(imgContrastStretch);

			cv.equalizeHist(dst2, imgEqualHist);

			let imgEqualHistHist = calcHist(imgEqualHist);

			// let overlay the image with gaussian blur
			// let bloomImg = cv.Mat.zeros(dst2.size().width, dst2.size().height, cv.CV_8UC1);
			let bloomImg = cv.Mat.zeros(dst2.rows, dst2.cols, cv.CV_8UC1);

			// draw a circle
			let center = new cv.Point(0, 0);
			let radius = 50;
			let color = new cv.Scalar(255, 0, 0, 255); // color (B, G, R, A)
			let thickness = -1; //line thickness, -1 is filled circle

			cv.circle(bloomImg, center, circleRadiusVal, color, cv.FILLED)

			let ksize = new cv.Size(ksizeVal, ksizeVal); // kernel size (must be odd)
			cv.GaussianBlur(bloomImg, blurImg, ksize, 0, 0, cv.BORDER_DEFAULT);

			// combine the images
			// imgBloom = dst2.clone();
			cv.addWeighted(dst2, 0.5, blurImg, 0.5, 0.0, imgBloom);

			let imgBloomHist = calcHist(imgBloom);

			cv.imshow('imgOut1', dst2);
			simpleHist(dst2, '#imgHist1ID', hist1Source)
			// cv.imshow('imgHist1', dstHist1);

			cv.imshow('imgOut4', imgContrastStretch);
			simpleHist(imgContrastStretch, '#imgHist4ID', hist4Source)
			// cv.imshow('imgHist4', imgContrastStretchHist);

			cv.imshow('imgOut3', imgEqualHist);
			simpleHist(imgEqualHist, '#imgHist3ID', hist3Source)
			// cv.imshow('imgHist3', imgEqualHistHist);

			cv.imshow('imgOut2Mask', blurImg);
			cv.imshow('imgOut2', imgBloom);
			simpleHist(imgBloom, '#imgHist2ID', hist2Source)
			// cv.imshow('imgHist2', imgBloomHist);

			mat.delete();
			gray_img.delete();
			dst2.delete();
			dstHist1.delete();
			imgContrastStretch.delete();
			imgContrastStretchHist.delete();
			imgEqualHist.delete();
			imgEqualHistHist.delete();
			imgBloom.delete();
			imgBloomHist.delete();
			bloomImg.delete();
			blurImg.delete();
		};

		function onOpenCvReady() {
			document.body.classList.remove("loading");
		}




		var Module = {
			// https://emscripten.org/docs/api_reference/module.html#Module.onRuntimeInitialized
			onRuntimeInitialized() {
				document.getElementById('status').innerHTML = 'OpenCV.js is ready.';
				onOpenCvReady();
			}
		};
	</script>

</body>

</html>